<% content_for(:title, "Edit a section") %>
<h1>Edit Section name</h1>

<%= render('layouts/errors', :object => @section) %>

<form action="/sections/<%= @section.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <%= render('form') %>
  <button type="submit" class="btn btn-info">Update Section</button>
</form>
