<% content_for(:title, "New section | Epicodus") %>

<h1><%= @section.name %></h1>

<h3>Lessons</h3>

<ul>
  <% @section.lessons.each do |lesson| %>
  <li> <a href="/lessons/<%= lesson.id %>"><%= lesson.name %></a></li>
  <% end %>
</ul>










<p><a href="/sections">Return to section listing</a></p>
