<% content_for(:title, "Edit a lesson") %>
<h1>Edit lesson</h1>

<%= render('layouts/errors', :object => @lesson) %>

<form action="/lessons/<%= @lesson.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <%= render('form') %>
  <button type="submit" class="btn btn-info">Update Lesson</button>
</form>
