<% content_for(:title, "Add a lesson") %>
<h1>New lesson</h1>

<%= render('layouts/errors', :object => @lesson) %>

<form action="/lessons" method="post">
  <%= render('form') %>
  <button type="submit" class="btn btn-info">Create Lesson</button>
</form>
